extends layout
append head
    //- add page specific styles by appending to the head
    link(rel="stylesheet" href="/stylesheets/create-post.css")
    link(rel="stylesheet" href="/stylesheets/index.css")
    script(src="/javascripts/edit-post.js" type="module")
block content
    h1.edit-title #{user.username}
    div(class="main-post-form")
        form(class="create-post-form" )
            input(type="hidden" name='_csrf' value=csrfToken)
            input(type="hidden" name='postId' value=post.id)
            input(type="hidden" name='userId' value=user.id)
            input(type="text" id="title" name="title" placeholder="  Title" required value= post.title)
            input(type="text" id="imgUrl" name="imgUrl" placeholder="    Insert a Post Image URL here (optional)" value= post.imgUrl)
            div(id="content")
                textarea(type="text" id="content" name="content" placeholder="    Tell us a story." required)= post.content
            div(id="dropdown")
                select(name="topicId" id="dropdown" required)
                    option(value= post.Topic.name)= post.Topic.name
                    each topic in topics
                        option(value=topic.id)= topic.name
            div.form-buttons
                div(id="edit-post-button")
                    button(type="submit") Edit
                div(id="delete-post-button")
                    button(type="submit" ) Delete Post
