extends layout

append head
    link(rel="stylesheet" href="/stylesheets/index.css")
    link(rel="stylesheet" href="/stylesheets/account.css")
    link(rel="stylesheet" href="/stylesheets/deleteModal.css")
    script(src="/javascripts/delete-user.js" type="module")



block content
    .mainContent
        .author
            h1(class= "userName")= user.username
            .profileImg
                img(src= user.imgUrl, alt= `photo of ${user.username}`)
            button.deleteAccount Delete Account
        if errors
                .errorsContainer
                    each error in errors
                        div.errorMsg= error
        form(class="accountEditForm" action=`/users/${user.id}/edit` method="POST")
            input(type="hidden" name='_csrf' value=csrfToken)
            input(type="hidden" name='userId' value=user.id)
            label(for="username") User Name
            input(type="text", id="username",name="username", value= user.username, autocomplete="username")

            label(for="oldPassword" ) Old Password
            input(type="password",id="oldPassword", name="oldPassword", autocomplete="new-password")

            label(for="password") New Password
            input(type="password", name="password", id="password",autocomplete="new-password")

            label(for="confirmPassword") Confirm Password
            input(type="password", id="confirmPassword", name="confirmPassword",autocomplete="new-password")

            label(for="biography") Bio
            textarea(id="biography", name="biography", value=user.biography)= user.biography

            label(for="imgUrl") Image Url
            input(type="text", id="imgUrl", name="imgUrl", value= user.imgUrl, autocomplete="off")

            .saveButtons
                button.submitEditForm() Submit

                span.goBackButton(onclick=`window.location.href='/users/${user.id}'`) Back
