extends layout
append head
    link(rel="stylesheet" href="/stylesheets/index.css")
    link(rel="stylesheet" href="/stylesheets/post.css")
    script(src="/javascripts/index.js" type="module")
    script(src="/javascripts/create-vote.js" type="module")
block content
    .body
        .author(onclick=`window.location.href='/users/${author.id}'`)
            .authorName= author.username
            .authorImage
                img(src= author.imgUrl alt= "Profile Picture for #{author.username}")
            .authorBio= author.biography
        .post
            .postTitle= post.title
            .postLikes
              form(class="submit-vote")
                button(value="UpVote" type="submit").upvote-button UpVote
                button(value="DownVote" type="submit").downvote-button DownVote
                input(type="hidden" value=postId name="postId")
                input(type="hidden" value=userId name="userId")
              span.vote-total=voteTotal

            .postImage
                img(src= post.imgUrl alt="Main image for #{post.title}")
            .postContent= post.content
        .Comment
            ul
                li
                    form(method="POST", action = '/posts/#{postId}/comments')
                        label(for="Comment") Add a comment
                        input(type="text" name="Comment" )
                        button(type="submit") Submit
                each comment in comments
                    li
                        h3= comment.User.username
                        h3= comment.comment
                        h3= comment.createdAT
                        h3= comment.updatedAT
