extends layout
block content
    append head

    //- add page specific styles by appending to the head
    link(rel="stylesheet" href="/stylesheets/index.css")
    link(rel="stylesheet" href="/stylesheets/profile.css")
    script(src="/javascripts/unfollowTopics.js" type="module" defer)
    div(class="body-encapsulation")
      .profile-body
        .profile-header
           .profile-image
             img(src= `${user.imgUrl}`, alt= `Profile picture of ${user.username}`)
           .profile-username=user.username
           if sameUser
             .profile-edit-account
               h3(onclick=`window.location.href='/my-account'`) Edit Account
           div.bioContainer
             h4.bioTitle Biography
             p= user.biography
        .profile-title
          if sameUser
            h2 Your Posts
          if (!sameUser)
            h2 #{user.username}'s Posts
        .posts
           each post in posts
             div.blog(id=`post-${post.id}` class=`relevant-${post.topicId}`)
              div(id="username")
                a(href=`/users/${post.User.id}` id="username-link")=post.User.username
                span(id="topic-display")= post.Topic.name
              a(href=`/posts/${post.id}` id="title")
                div(id="title")=post.title
              - var url = post.imgUrl;
              - var urlString = `${url}`;
              div(id="blog_img")
                a(href=`/posts/${post.id}`)
                  img(src=`${urlString}` id="blog_img")
              div(id="content")
                a(href=`/posts/${post.id}`) #{post.content}...
              div(id="details")
                if post.matches
                  a(href=`/posts/${post.id}/edit`) Edit
        if sameUser
            .topics-container
                h2.topics-title Your Followed Topics
                each topic in user.Topics
                    div.topics.toggled(id=`topic-${topic.id}-followed`)= topic.name
